/*
 * Buzz - The Social LMS (https://www.buzzlms.de)
 * © 2017  Dennis Schulmeister-Zimolong <dennis@pingu-mail.de>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 */

@import "../node_modules/spectre.css/src/variables.less";

@red: rgb(172, 33, 33);
@shadow: rgba(255, 255, 255, 0.6) 1px 1px;
@padding: 4rem;
@padding-small: 1rem;

@semi-white-bg: rgba(255, 255, 255, 0.55);
@semi-white-border: rgba(255, 255, 255, 0.75);

@semi-black-bg: rgba(0, 0, 0, 0.75);
@semi-black-border: rgba(0, 0, 0, 0.55);

/*
 * Basic screen layout with header and main body
 */
html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;

    header {
        margin: @padding @padding 0 @padding;
    }

    main {
        margin: @padding;
        flex-grow: 1;
    }

    main.fullscreen {
        margin: 0;
    }

    // Make main content fill the entire vertical space when in fullscreen mode
    main.fullscreen,
    main.fullscreen > *:first-child {
        display: flex;
        flex-direction: column;
    }

    main.fullscreen > *:first-child,
    main.fullscreen > *:first-child > * {
        flex-grow: 1;
    }
}

/*
 * Making the navbar more responsive
 */
header.buzz-navbar {
/*
    section {
        display: block;
    }
*/
    @media (min-width: @size-md) {
        .buzz-navbar-container {
            display: flex;
        }

        section  {
            flex-grow: 1;
        }

        section.nogrow {
            flex-grow: 0;
        }
    }
}

/*
 * Background, colors and other minor things
 */
body {
    background-color: #6995c2;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url(bg.jpg);

    h1, h2, h3, h4, h5, h6 {
        color: @red;
        text-shadow: @shadow;
    }

    h2 { font-size: 3rem; }
    h3 { font-size: 2.4rem; }
    h4 { font-size: 2rem; }
    h5 { font-size: 1.6rem; }
    h6 { font-size: 1.2rem; }

    .navbar-icon {
        font-size: 180%;
        color: @red;
        text-shadow: @shadow;
    }

    .menu-item {
        cursor: pointer;
    }

    a, a:visited {
        color: @red !important;
    }

    a:hover {
        color: saturate(@red, 50%) !important;
    }

    a.btn.btn-primary,
    a:visited.btn.btn-primary,
    btn.btn-primary a,
    btn.btn-primary a:visited {
        color: white !important;
    }

    a.btn:hover,
    btn a:hover,
    btn:hover a {
        color: white !important;
    }

    .padding {
        padding: @padding-small;
    }

    .big-margin { margin: @padding; }
    .big-margin-top { margin-top: @padding; }
    .big-margin-right { margin-right: @padding; }
    .big-margin-bottom { margin-bottom: @padding; }
    .big-margin-left { margin-left: @padding; }

    .small-margin { margin: @padding-small; }
    .small-margin-top { margin-top: @padding-small; }
    .small-margin-right { margin-right: @padding-small; }
    .small-margin-bottom { margin-bottom: @padding-small; }
    .small-margin-left { margin-left: @padding-small; }

    /*
     * Colors for pages with white or no background
     */
     .white {
         background: @semi-white-bg;
         border: 1px solid @semi-white-border;
     }

    .code {
        background: rgb(36, 36, 36);
    }

    .code code {
        background: transparent;
        color: white;
    }

    .card {
        background: @semi-white-bg;
        border: 1px solid @semi-white-border;
    }

    /*
     * Colors for pages with black background
     */
    .black {
        background: @semi-black-bg;
        border: 1px solid @semi-black-border;
        color: rgb(219, 219, 219);

        .code {
            background: rgb(219, 219, 219);
        }

        .code code {
            background: transparent;
            color: black;
        }

        pre.code::before {
            color: rgb(36, 36, 36);
        }

        .card {
            background: @semi-black-bg;
            border: 1px solid @semi-black-border;
        }
    }
}

/**
 * Fix breadcrumb margins too large
 */
.breadcrumb {
    padding: 0;
    margin-bottom: 2.5em;
}
