/*
 * Buzz - The Social LMS (https://www.buzzlms.de)
 * © 2017  Dennis Schulmeister-Zimolong <dennis@pingu-mail.de>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 */

@import "../node_modules/spectre.css/src/variables.less";

@red: rgb(152, 33, 33);
@shadow: rgba(255, 255, 255, 0.6) 1px 1px;
@padding: 4rem;

/*
 * Basic screen layout with header and main body
 */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    header {
        margin: @padding @padding 0 @padding;
    }

    main {
        margin: 0 @padding @padding @padding;
        flex-grow: 1;
    }

    main.fullscreen {
        margin: 0;
    }

    // Make the main content fill the entire vertical space when in "fullscreen"
    // mode. This scary chain of selectors stems from ko-component-router deeply
    // nesting the page content like this:
    //
    //   <main class="fullscreen">
    //       <ko-component-router>
    //           <div>
    //               <div>
    //                   <div>
    //                       <div>
    //                           page content from template
    //                       </div>
    //                   </div>
    //               </div>
    //           </div>
    //       </ko-component-router>
    //   </main>
    main.fullscreen,
    main.fullscreen > *:first-child,
    main.fullscreen > *:first-child > div,
    main.fullscreen > *:first-child > div > div,
    main.fullscreen > *:first-child > div > div > div,
    main.fullscreen > *:first-child > div > div > div > div {
        display: flex;
        flex-direction: column;
    }

    main.fullscreen > *:first-child,
    main.fullscreen > *:first-child > div,
    main.fullscreen > *:first-child > div > div,
    main.fullscreen > *:first-child > div > div > div,
    main.fullscreen > *:first-child > div > div > div > div,
    main.fullscreen > *:first-child > div > div > div > div > * {
        flex-grow: 1;
    }
}

/*
 * Making the navbar more responsive
 */
header.buzz-navbar {
    section {
        display: block;
    }

    @media (min-width: @size-md) {
        display: flex;

        section  {
            flex-grow: 1;
        }

        section.nogrow {
            flex-grow: 0;
        }
    }
}

/*
 * Background, colors and other minor things
 */
body {
    background-color: #6995c2;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url(bg.jpg);

    h1, h2, h3, h4, h5, h6 {
        text-shadow: @shadow;
    }

    h1 {
        color: @red;
    }

    .navbar-icon {
        font-size: 180%;
        color: @red;
        text-shadow: @shadow;
    }
}
